@font-face {
   font-family: "PT sans";
   font-weight: 400;
   font-style: normal;
   src: url(../fonts/ptsans-400.woff2) format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "PT sans";
   font-weight: 700;
   font-style:normal;
   src: url(../fonts/ptsans-700.woff2) format("woff2");
   font-display: swap;
}

html{
  height: 100%;
}

body{
   display: flex;
   flex-direction: column;
   min-height: 100%;
   margin: 0;
   font-family: "PT sans", "Arial", sans-serif;
   font-size: 18px;
   line-height: 21px;
   background-color: #ffffff;
   color: #000000;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
.navigation{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 339px;
  margin-right: 285px;
  list-style-type: none;
}

.navigation-user{
  max-width: 268px;
  margin: 0;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-logo{
  margin-left: 70px;
  margin-right: 30px;
  width: 140px;
}

.navigation-link{
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: inherit;
  text-decoration-line: none;
}

.navigation-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:#ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 8px 34px;
  margin: 0;
  text-decoration-line: none;
}

.button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:#ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  padding: 8px 50px;
  border: none;
}

/*main*/
.main-container{
  flex-grow: 1;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
}

/* hero */
.hero{
  padding-top: 51px;
  padding-bottom:82px;
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.logo{
  display: block;
  margin: 0 auto;
}

/*advantages*/
.advantages {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 69px;
}

.advantages-section-title{
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-section-discription{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 69px;
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 21px;
}

.advantages-item{
  background-color: #82b3d3;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item-container{
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
}

.advantages-item-wide{
  display: flex;
}

.advantages-item-wide-reverse{
 flex-direction: row-reverse;
}

.advantages-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantages-item-square,
.advantages-item-tourist{
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-road{
  background-color: rgba(131, 179, 211, 0.20);
  color: #000000;
}

/*services*/
.services{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 64px;
}

.services-section-title{
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.services-section-discription{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 64px;
}

.services-list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1200px;
  text-align: center;
  list-style-type: none;
}

.services-item{
  width: 400px;
  padding: 81px 85px;
}

.services-title{
  margin: 30px auto;
}

.services-discription{
  margin: 0;
}

.services-item-house,
.services-item-souvenirs{
  background-color: rgba(131, 179, 211, 0.20);
}

/*search*/
.search{
  padding: 96px 0;
  text-align: center;
}

.search-container{
  width: 592px;
  margin: 0 auto;
}

.search-section-title{
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.search-section-discription{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.search-button{
  padding: 8px 50px;
}

/*newsletter*/
.newsletter{
  background-image: url(../images/background-newsletter.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}

.newsletter-container{
  width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.newsletter-discription{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:#ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0 4px 4px 0;

  padding: 8px 50px;
}

/*footer*/
.footer-container{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  align-items: center;

}

.footer-social-list{
  display: flex;
  flex-wrap: wrap;
  min-width: 142px;
  margin: 0;
  margin-right: 41px;
  margin-left: 70px;
  padding: 0;
  list-style-type: none;
}

.button-social{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-align: center;
  text-decoration-line: none;
  padding: 13px 12px;
}

.phone{
  width: 331px;

  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: inherit;
  text-align: center;
  text-decoration-line: none;
  padding: 5px 194px;
}

.footer-logo{
 margin-right: 70px;
}

/*catalog*/
.inner-header{
 padding: 35px 70px 0 70px;
}

.inner-header-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.catalog-filter{
  display: flex;
  padding: 70px;
  padding-top: 0;
}

.catalog-filter-group{
  width: 151px;
  margin: 0;
  padding: 0;
  border: 0;
  margin-right: 70px;

}

.inner-background{
  background-image: url(../images/catalog/filters-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 50px;
}



/*breadcrumbs*/
.breadcrumbs{
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration-line: none;
  color:#ffffff;
  margin-right: 28px;
}

/*filters*/
.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.catalog-filter-item:last-child{
  margin-bottom: 0;
}

.button-form-filter{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-submit{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  padding: 8px 50px;
  margin-bottom: 32px;
  border: none;
}

.button-reset{
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 8px 57px;
}

/*sorting*/
.sorting-container{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.search-hotel{
  width: 338px;
  margin: 0;
  margin-left: 70px;
  margin-right: 200px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control{
  width: 292px;
  margin-right: 70px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border-radius: 4px;
  border-color: #e5e5e5;
  padding: 14px;
}

.list-display{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-display{
  padding: 15px 14px;
  width: 160px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin: 0;
  margin-right: 8px;
}

.button-display-current{
  border-color: #000000;
}

/*product*/
.product-column{
  width: 1060px;
}

.product-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.product-card-link{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  text-decoration-line: none;
}

.product-description{
  font-weight: 400;
  color:#333333;
}

.product-card-button{
  text-decoration-line: none;
}

.favourites{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  padding: 8px 50px;
  border: none;
}

.added{
  background-color: #7db54f;
}

/*pagination*/
.pagination{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 80px;
  margin-left: 70px;
  margin-bottom: 60px;
}

.pagination-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 12px 24px;
  margin-right: 8px;
  border-radius: 4px;
}

.pagination-current{
 color: #000000;
 background-color: #f2f2f2;
}

/*newsletter-inner*/
.newsletter-inner{
  width: 684px;
  margin: 0 auto;
  text-align: center;
  color: #000000;

}

.newsletter-inner-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.newsletter-inner-discription{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}
