@font-face {
   font-family: "PT sans";
   font-weight: 400;
   font-style: normal;
   src: url("../fonts/ptsans-400.woff2") format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "PT sans";
   font-weight: 700;
   font-style:normal;
   src: url("../fonts/ptsans-700.woff2") format("woff2");
   font-display: swap;
}

html{
  height: 100%;
  background-color: #f2f2f2;
}

body{
   display: flex;
   flex-direction: column;
   width: 1200px;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
   min-height: 100%;
   margin: 0 auto;
   font-family: "PT sans", "Arial", sans-serif;
   font-size: 18px;
   line-height: 21px;
   color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
.main-header{
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.navigation{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.main-header-logo{
  display:block;
  margin-left: 64px;
  margin-right: 30px;
  width: 140px;
}

.navigation-list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 339px;
  margin-right: 285px;
  margin-left: 238px;
  list-style-type: none;
}

.navigation-logo{
  position: absolute;
}

.navigation-user{
  max-width: 268px;
  margin: 0;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-link{
  position: relative;
  display: block;
  padding: 22px 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: inherit;
  text-decoration-line: none;
}

.navigation-link-current{
  position: relative;
}

.navigation-link-current::after{
  position: absolute;
  content: "";
  right: 12px;
  left: 12px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

.navigation-favourites{
 position: relative;
}

.navigation-favourites::before{
  position: absolute;
  content: "12";

  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  padding: 5px 5px;
  background-color: #7db54f;
  border-radius: 50%;
  z-index: 1;

  top: 11px;
  right: 3px;
}

.navigation-icon{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.navigation-button {
  font-family: "PT sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:#ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 8px 34px;
  margin: 0;
  margin-left: 20px;
  text-decoration-line: none;
}

.navigation-button:active{
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button:hover{
  background-color: #615048;
}

.navigation-button:focus{
  background-color: #615048;
}

.navigation-button:disabled{
  background-color: #e5e5e5;
  color: #ffffff;
}

.button{
  font-family: "PT sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:#ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  padding: 8px 50px;
  border: none;
  cursor: pointer;
}

/*main*/
.main-container{
  flex-grow: 1;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

/* hero */
.hero{
  padding-top: 51px;
  padding-bottom:82px;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 57px, 100% auto;
  background-position: bottom center, center center;
}

.logo{
  display: block;
  margin: 0 auto;
}

/*advantages*/
.advantages {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 69px;
}

.advantages-section-title{
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-section-discription{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 69px;
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 21px;
}

.advantages-item{
  background-color: #82b3d3;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item-container{
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
}

.advantages-item-wide{
  display: flex;
}

.advantages-item-wide-reverse{
 flex-direction: row-reverse;
}

.advantages-title{
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 62px;
}

.advantages-title::before{
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 2px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  }

  .advantages-title-gray::before{
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    }

  .advantages-discription{
    margin: 0;
    margin-top: 62px;
  }

.advantages-item-square,
.advantages-item-tourist{
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-road{
  background-color: rgba(131, 179, 211, 0.20);
  color: #000000;
}

/*services*/
.services{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 64px;
}

.services-section-title{
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.services-section-discription{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 64px;
}

.services-list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1200px;
  text-align: center;
  list-style-type: none;
}

.services-item{
  width: 400px;
  padding: 81px 85px;
  padding-top: 183px;
}

.services-title{
  margin: 30px auto;
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.services-discription{
  margin: 0;
}

.services-item-house,
.services-item-souvenirs{
  background-color: rgba(131, 179, 211, 0.20);
}

.services-item-house{
  background-image: url("../images/services-house.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.services-item-food{
  background-image: url("../images/services-food.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.services-item-souvenirs{
  background-image: url("../images/services-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

/*search*/
.search{
  padding: 96px 0;
  width: 592px;
  margin: 0 auto;
  text-align: center;
}

.search-section-title{
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.search-section-discription{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.search-button{
  font-family: "PT sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 50px;
}

.search-button:active{
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.search-button:hover{
  background-color: #615048;
}

.search-button:focus{
  background-color: #615048;
}

.search-button:disabled{
  background-color: #e5e5e5;
  color: #ffffff;
}

/*newsletter*/
.newsletter{
  background-image: url("../images/background-newsletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}

.newsletter-container{
  width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.newsletter-discription{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-form{
  display: flex;
  justify-content: center;
}

.newsletter-input{
  font-family: "PT sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  outline: none;
  border: none;
  padding: 14px 20px;
  width: 452px;
}

.newsletter-button{
  font-family: "PT sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:#ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0 4px 4px 0;
  border: 0;
  padding: 8px 50px;
}

.newsletter-button:active{
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:hover{
  background-color: #68a2ca;
}

.newsletter-button:focus{
  background-color: #68a2ca;
}

.newsletter-button:disabled{
  background-color: #e5e5e5;
  color: #ffffff;
}

/*footer*/
.page-footer{
  width: 1200px;
  margin: 0 auto;
}

.footer-container{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  align-items: center;
  background-color: #ffffff;

}

.footer-social-list{
  display: flex;
  flex-wrap: wrap;
  width: 145px;
  margin: 0;
  margin-right: 41px;
  margin-left: 70px;
  padding: 0;
  list-style-type: none;
}

.button-social{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 47px;
 height: 40px;
 color: #83b3d3;
 background-repeat: no-repeat;
 background-position: center;
 box-sizing: border-box;
}

.button-social:hover{
  color: #68a2ca;
}

.button-social:focus{
  color: #68a2ca;
}

.button-social:active{
  color: rgba(104, 162, 202, 0.3)
}

.phone{
  width: 331px;

  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: inherit;
  text-align: center;
  text-decoration-line: none;
  padding: 5px 194px;
}

.phone:hover{
  color: #756157;
}

.phone:focus{
  color: #756157;
}

.phone:active{
  color: rgba(117, 97, 87, 0.3)
}

.footer-logo{
 margin-right: 70px;
 color: #000000;
}

.footer-logo:hover{
  color: #756157;
}

.footer-logo:focus{
  color: #756157;
}

.footer-logo:active{
  color: rgba(117, 97, 87, 0.3)
}


/*catalog*/
.inner-header{
 padding: 35px 70px 0 70px;
}

.inner-header-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.catalog-filter{
  display: flex;
  padding: 70px;
  padding-top: 0;
}

.catalog-filter-group{
  width: 151px;
  margin: 0;
  padding: 0;
  border: 0;
  margin-right: 70px;

}

.inner-background{
  background-image: url("../images/catalog/filters-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 50px;
}



/*breadcrumbs*/
.breadcrumbs{
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-link{
  position: relative;
  font-family: "PT sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration-line: none;
  color:#ffffff;
  margin-right: 18px;
}


.breadcrumbs-icon{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


/*filters*/
.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.catalog-filter-item:last-child{
  margin-bottom: 0;
}

.control{
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  left: 0px;
  background-color: #ffffff;
  border-radius: 4px;
  background-image: url("../images/catalog/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

/* .range-bar */
.range-wrapper-inputs{
  display: flex;
  margin-bottom: 36px;
}

.range-scale{
  position: relative;
  height: 4px;
  background-color: #ffffff;
}

.range-bar{
  position: absolute;
  height: 4px;
  background-color: #000000;
}

.range-toggle{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus{
  outline: 3px solid #83b3d3;
}

.range-toggle:active{
  outline: 2px solid #83b3d3;
}

.toggle-min{
  top: -8px;
  left: -200px;
}

.toggle-max{
  top: -8px;
  right: 61px;
}

.button-form-filter{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-submit{
  font-family: "PT sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  padding: 8px 50px;
  margin-bottom: 32px;
  border: none;
}

.button-submit:hover{
 background-color: #68a2ca;
}

.button-submit:focus{
  background-color: #68a2ca;
 }

 .button-submit:active{
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
 }

.button-reset{
  font-family: "PT sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: none;
  padding: 8px 57px;
}

.button-reset:hover{
  color: rgba(255, 255, 255, 0.5);
}

.button-reset:focus{
  border: 3px solid #83b3d3;
  border-radius: 4px;
  color: #ffffff;
}

.button-reset:active{
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled{
  color: rgba(255, 255, 255, 0.2);
}

/*sorting*/
.sorting-container{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.search-hotel{
  width: 338px;
  margin: 0;
  margin-left: 70px;
  margin-right: 200px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control{
  width: 292px;
  margin-right: 70px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  padding: 12px 20px;
  padding-right: 40px;

  appearance: none;

  background-image: url("../images/catalog/mark.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control:hover{
  border-color: #68a2ca;
}

.select-control:focus{
  border-color: #68a2ca;
  outline: none;
}

.select-control:disabled{
  color:#000000;
  border-color: #000000;
  opacity: 0.3;
}

.list-display{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-display{
  padding: 13px 16px;
  width: 160px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin: 0;
  margin-right: 8px;
}

.button-display:hover{
 border-color: #000000;
}

.button-display:focus{
  border-color: #68a2ca;
 }

.button-display:active{
  border-color: #000000;
  }

.button-display-current{
  border-color: #000000;
}

/*product*/
.product-column{
  width: 1060px;
  margin: 0 auto;
}

.product-list{
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 0;
  margin: 0;
  padding-bottom: 39px;
  border-bottom: 1px solid #e6e6e6;
  list-style-type: none;
}

.product-card{
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  row-gap: 16px;
  width: 300px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.product-card-link{
  grid-column: 1/-1;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  text-decoration-line: none;
}

.product-card-image{
  object-fit: contain;
  margin-bottom: 16px;
}

.product-card-title{
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.product-discription{
  margin: 0;
  font-weight: 400;
  color:#333333;
}

.product-discription-price{
  text-align: end;
}

.product-card-button{
  padding: 8px 26px;
  text-decoration-line: none;
}

.product-card-button:hover{
  background-color: #615048;
}

.product-card-button:focus{
  background-color: #615048;
}

.product-card-button:active{
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button:disabled{
  background-color: #e5e5e5;
  color: #ffffff;
}

.favourites{
  font-family: "PT sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  padding: 8px 20px;
  border: none;
}

.favourites:hover{
  background-color: #68a2ca;
}

.favourites:focus{
  background-color: #68a2ca;
}

.favourites:active{
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.favourites:disabled{
  background-color: #e5e5e5;
  color: #ffffff;
}

.favourites-added{
  font-family: "PT sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 4px;
  padding: 8px 18px;
  border: none;
}

.favourites-added:hover{
  background-color: #6c9e42;
}

.favourites-added:focus{
  background-color: #6c9e42;
}

.favourites-added:active{
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.favourites-added:disabled{
  background-color: #e5e5e5;
  color: #ffffff;
}

.product-rating{
  width: 95px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  background-color: #f2f2f2;
  margin: 0;
  padding: 9px 22px 8px 23px;
}

/*pagination*/
.pagination{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 60px;
}

.pagination-link{
  font-family: "PT sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 12px 24px;
  margin-right: 8px;
  border-radius: 4px;
}

.pagination-link:hover{
  background-color: #68a2ca;
}

.pagination-link:focus{
  background-color: #68a2ca;
}

.pagination-link:active{
  background-color: #82b3d3;
  color:rgba(255, 255, 255, 0.3)
}

.pagination-ellipsis{
  background-color: #ffffff;
  color: #000000;
}

.pagination-current{
 color: #000000;
 background-color: #f2f2f2;
}

/*newsletter-inner*/
.newsletter-inner{
  width: 684px;
  margin: 0 auto;
  text-align: center;
  color: #000000;

}

.newsletter-inner-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.newsletter-inner-discription{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-input-inner{
  background-color: #f2f2f2;
}
